/* Reset padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TikTok Sans", sans-serif;
}

/* Fundo da tela */
body {
   background-color: #faf4f1; 
   color: #660040;
}
/* Cabeçalho */
header {
    background-color: #f2d4e6;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Imagem da marca */
.logo-img {
    height: 60px;
    object-fit: contain;
}
/* Menu de navegação */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Lista menu navegação */
.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

/* Tag de links */
.nav-bar a {
    text-decoration: none;
    color: #a1006b;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-bar a:hover {
    color: #660040;
}

/* Seção hero */
.hero {
   
  background-size: cover;
  background-position: center;
  padding: 6rem 2rem;
  text-align: center; 
}

.hero-content {
    display: inline-block;
    padding: 2rem;
    border-radius: 8px;
    margin: 0 auto;
}




/* Seção geral */
section {
    padding: 4rem 2rem;
    max-width: 1000px;
    margin: 0 auto ;
}

section h2 {
    text-align: center;
    color: #a1006b;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.section {
    padding: 4rem 2rem;
}

/* Serviços */
.services-list ul {
    list-style: none;
    padding-left: 1rem;
    font-size: 1.1rem;
}

.services-list li {
    margin-bottom: 0.75rem;
    position: relative;
    padding-left: 1.2rem;
}

.services-list li ::before {
    content: "💄";
    position: absolute;
    left: 0;
}

/* Sobre */
.about-text p {
    text-align: justify;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

/* Galeria */
#gallery {
    background-color: #fff0f5;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (250px 1fr));
    gap:1.5rem;
    margin-top: 2rem;
}

.gallery-grid img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: tranform 0.3s ease;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}

/* Contato */
.contact-info p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.contact-info a {
    color:#a1006b;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Rodapé */
.main-footer {
    background-color: #f2d4e6;
    text-align: center;
    padding: 1.5rem;
    font-size: 0.9rem;
    color: #333;
    line-height: 1.4;
}
