/* Reset padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TikTok Sans", sans-serif;
}

/* Fundo da tela */
body {
  background-color: #faf4f1;
  color: #660040;
}
/* Cabeçalho */
header {
  background-color: #f2d4e6;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Imagem da marca */
.logo-img {
  height: 60px;
  object-fit: contain;
}
/* Menu de navegação */
.nav-bar {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 30px;
}

/* Lista menu navegação */
.nav-bar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

/* Tag de links */
.nav-bar a {
  text-decoration: none;
  color: #a1006b;
  font-weight: bold;
  transition: transform 0.7s ease, color 0.7s ease;
  display: inline-block;
}

.nav-bar a:hover {
  color: #660040;;
  transform: scale(1.3);
}

/* Seção hero */
.hero {
  background-size: cover;
  background-position: center;
  padding: 6rem 2rem;
  text-align: center;
}

.hero-content {
  display: inline-block;
  padding: 2rem;
  border-radius: 8px;
  margin: 0 auto;
}

/* Seção geral */
section {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

section h2 {
  text-align: center;
  color: #a1006b;
  margin-bottom: 2rem;
}

/* Serviços */
.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.services-card,
.services-grid > div {
  text-align: center;
}

.services-card p,
.services-grid > div > p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #a1006b;
  margin-bottom: 1rem;
}

/* Imagens de serviços */
.services-grid img {
  width: 100%;
  max-width: 280px;
  height: 360px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3 ease;
  cursor: pointer;
}

.services-grid img:hover {
  transform: scale(1.05);
}

/* Sobre */
#on p {
  font-size: 1.1rem;
  text-align: justify;
}

/* Contato */
#contact p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

#contact a {
  color: #a1006b;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}

/* Link whatsapp */
.link-whatsapp {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom:13% ;
    z-index: 9999;
}

/* Rodapé */
.main-footer {
  background-color: #f2d4e6;
  text-align: center;
  padding: 2rem 1rem;
  font-size: 0.9rem;
  color: #444;
}

/* Responsivo */
@media screen and (min-width: 768px) {
  .services-grid {
    grid-template-columns: repeat(3, 1 fr);
  }
}

@media screen and(min-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
